.titulo {

background-color: blanchedalmond;
padding: 10px;



}

body {

background-image: url("celebre-o-dia-nacional-da-adocao-de-animais_0.jpg");
background-attachment: fixed;
background-size: cover;


}

.botao {

height: 80px;



}

